*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    font-size: 16px;
}
.flex{
    display: flex;
    position: relative; 
    flex-direction: column;  
}
body{
    background-color: #F8EAE4;
    font-family: "Libre Caslon Text", serif;
}
header>#figure{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header>#figure>img{       
    width: 100%;
    height: auto;
    object-fit: cover;
}
header>#logo{
    position: absolute;
    top: 0.625em;
    left: 0.625em; /*10px*/
    z-index: 100;
    width: auto;
    height: auto;
    filter: drop-shadow(0 0 0.75rem #fff);

}
header>#logo>img{
    width: 2em;
    height: auto; 
    object-fit: contain;
}
body>header>#figure>p{
    position: absolute;
    font-size: 0.45rem;
    font-weight: bold;
    color: #1D4126;
    background-color: #D9D9D9; 
    opacity: 0.7;
    top: 55%;
    left: 40%;
    transform: translateX(-40%);
    white-space: nowrap;
    
}
main>#produit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.2rem;
}
main>#produit>p{
    font-size: 0.30rem; /*17 px*/
    color: #1D4126;
    text-align: center;
}
.bold {
    font-weight: bold;
}
main>#produit>img{
    width: 10em;
    height: auto;
    margin: 1.5em;  
    transition: transform 0.3s ease;
    transform-origin: center;
}
main>#produit>img:hover{
    transform: scale(2);
}
#presentation {
    background-color: #FAF4EF;  
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main > #presentation > .pres {
    width: 45%;
    height: auto;
    height: auto;
    display: flex; 
    align-items: center;
    margin: 0 0.3rem;
}

main>#presentation>.pres>img {
    width: 1.5em;
    height: auto;
    margin-right: 0.1rem;
}

body>main > #presentation > .pres > p {
    color: #1D4126;
    font-size: 0.2rem;
    text-align: left;
}
main>#avis{
    width: 100%;
    height: auto;
}
main>#avis>p{
    font-size: 0.3rem;
    color: #1D4126;
    font-weight: bold;
    padding-top: 2rem;
    text-align: center;
}
main>#avis>.flexlign>img{
    width: 1.5rem;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
main>#avis>.flexlign{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
#clients{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 1.5rem;
}
#clients>p{
    font-size: 0.3rem;
    color: #1D4126;
    font-weight: bold;
    padding-top: 1rem;
    text-align: center;
}
#clients>.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 12rem;
    margin: 0 auto;
    padding-top: 1rem;
    gap: 0.5rem;   
}
#clients>.grid>img{
    width: 2rem;
    height: auto;
    margin: 0 auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}
#button{
    width: 4rem;
    height: 2.5rem;
    background-color: #79936C;
    border-radius: 20px;
    border-bottom: 2px solid #A4C594;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Ombre simple */
    transition: box-shadow 0.3s ease; /* Animation au survol */
}
#button:active{
    transform:translate(0,5px);
    -webkit-transform: translate(0,5px);
    border-bottom: 1px;
}
#button>p{
    font-size: 0.3rem;
    text-align: center;
    padding-top: 0.2rem;
    color: #fff;
    text-shadow: 0.1rem 0.15rem 0.1rem #1D4126;
}
#media{
    width: 100%;
    height: auto;
    text-align: center;
}
#media>a>img{
   width: 1.2rem;
   height: auto;
   padding: 1.5rem 0.1rem;
   display: inline-block;
}
#merci{
    position: relative;
}
#merci>img{
    width: 100%;
    height: 7em;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
#merci>p{
    position: absolute;
    top: 10%; /* Ajuste pour le positionner vers le haut (ajuste selon tes besoins) */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 100;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 0.45rem;
    font-weight: bold;
    color: #1D4126;
    background-color: #D9D9D9; 
    opacity: 0.7;
}

@media screen and (min-width: 300px) and (max-width: 900px){
    main > #presentation {
        display: flex; 
        flex-direction: column;
    }
    main > #presentation > .pres{
        margin-top: 1em;
    }
    #presentation{
        background-color: #F8EAE4;
        box-shadow: none;
    }
    main>#produit>img:hover{
        transform: scale(2);
    }
}
@media screen and (max-width: 900px){
    main>#produit>img:hover{
        transform: none;
    }
}

